<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>justify</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-light">
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light nav-analis">
        <div class="container">
          <a class="navbar-brand" href="index.html"
            ><img src="images/logo.svg" alt="logo" class="brand-logo img-fluid"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="diskusi.html">Diskusi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Analisa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pengembang</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="about pb-4 mb-3">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div
              class="col-8 col-md-5"
              data-aos="flip-left"
              data-aos-duration="1000"
              data-aos-delay="100"
            >
              <img
                src="images/Group 7.svg"
                alt="logo"
                class="img-fluid w-50 animated"
              />
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-md-6" data-aos="zoom-in-up" data-aos-delay="200">
              <h2>Mesin Analisa Hukum</h2>
              <!-- <hr> -->
              <p>
                Nikmati layanan hukum gratis kemudahan untuk mencari pegangan
                hukum
              </p>
              <!-- <a href="" class="btn btn-penggugat">Go Analisa</a> -->
            </div>
          </div>
        </div>
      </section>
      <section class="main-analisis bg-light">
        <div class="card-item">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="card p-4">
                  <div class="row">
                    <!-- <div class="col d-flex justify-content-center">
                      <div class="item-dot active"></div>
                      <div class="item-dot"></div>
                      <div class="item-dot"></div>
                      <div class="item-dot"></div>
                    </div> -->
                    <div class="col-12">
                      <p style="font-weight: bold" v-show="!Hasil[0].status">
                        Pilih Sesuai Yang Anda Alami dan Rasakan
                      </p>
                      <p style="font-weight: bold" v-show="Hasil[0].status">
                        Hasil Analisa Kasus
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-md-3 col-6"
                      v-for="(m, index) in mainCard"
                      :key="m.id"
                      v-show="!Hasil[0].status"
                    >
                      <a href="" @click="answareChange(index)">
                        <div
                          class="card-analisa"
                          :class="{ active: m.answare }"
                        >
                          <p>{{ m.meesage }}</p>
                          <div class="icon-cheklist" v-show="m.answare">
                            <img
                              src="images/icon/cheklist.png"
                              alt="cheklist"
                              class="img-fluid"
                            />
                          </div>
                        </div>
                      </a>
                    </div>
                    <div
                      class="col"
                      v-for="h in Hasil"
                      :key="h.id"
                      v-show="Hasil[0].status"
                    >
                      <h4>{{h.pasal}}</h4>
                      <p>{{h.bunyi}}</p>
                    </div>
                    <div class="col-12 mt-3">
                      <a href="gugat.html" class="btn btn-next" @click="next"
                        >{{teksButton}}</a
                      >
                    </div>
                    <div class="col-12">
                      <br />
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          :style="{ width: widthProgres + '%' }"
                        ></div>
                      </div>
                      <br />
                    </div>
                    <!-- <div class="col-md-3 col-6">
                    <a href="">
                      <div class="card-analisa active">
                        <p>Saya Merasakan Sakit Di Bagian Badan</p>
                        <div class="icon-cheklist">
                          <img src="images/icon/cheklist.png" alt="cheklist" class="img-fluid">
                        </div>
                      </div> 
                    </a>
                  </div>
                  <div class="col-md-3 col-6">
                    <a href="">
                      <div class="card-analisa active">
                        <p>Saya Merasakan Sakit Di Bagian Badan</p>
                        <div class="icon-cheklist">
                          <img src="images/icon/cheklist.png" alt="cheklist" class="img-fluid">
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-3 col-6">
                    <a href="">
                      <div class="card-analisa ">
                        <p>Saya Merasakan Sakit Di Bagian Badan</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-3 col-6">
                    <a href="">
                      <div class="card-analisa">
                        <p>Saya Merasakan Sakit Di Bagian Badan</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-3 col-6">
                    <a href="">
                      <div class="card-analisa active">
                        <p>Saya Merasakan Sakit Di Bagian Badan</p>
                        <div class="icon-cheklist">
                          <img src="images/icon/cheklist.png" alt="cheklist" class="img-fluid">
                        </div>
                      </div> 
                    </a>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script>
      AOS.init();
    </script> -->
    <script src="vendor/vue/vue.min.js"></script>
    <script>
      var analisa = new Vue({
        el: "#app",
        mounted() {
          AOS.init();
        },
        data: {
          Hasil: [
            {
              id: 1,
              pasal:
                "Bab XIII UU No. 8 Tahun 1981 tentang Hukum Acara Pidana (“KUHAP”) yang mengatur dari Pasal 98 hingga Pasal 101. Pasal 98 ayat (1) KUHAP",
              bunyi:
                "Jika suatu perbuatan yang menjadi dasar dakwaan di dalam suatu pemeriksaan perkara pidana oleh pengadilan negeri menimbulkan kerugian bagi orang lain, maka hakim ketua sidang atas permintaan orang tersebut",
              status: false,
            },
          ],
          teksButton: "Berikutnya",
          widthProgres: 10,
          mainCard: [
            {
              id: 0,
              meesage: "Saya Mengalami Sakit di Bagian Fisik",
              answare: true,
            },
            {
              id: 1,
              meesage: "Saya Kehilangan Uang Atau Properti",
              answare: false,
            },
            {
              id: 2,
              meesage: "perjanjian yang sah tapi tidak di tepati",
              answare: false,
            },
            {
              id: 3,
              meesage: "Merasa di Permalukan",
              answare: false,
            },
          ],
        },
        methods: {
          answareChange(id) {
            console.log(id);
            event.preventDefault();
            if (this.mainCard[id].answare === false) {
              this.mainCard[id].answare = true;
            } else {
              this.mainCard[id].answare = false;
            }
            console.log("ini main card id", this.mainCard[id].answare);
          },
          next() {
            this.widthProgres += 30;
            if (this.widthProgres >= 100) {
              this.teksButton = "Lihat Hasil";
            }
            if (this.widthProgres > 101) {
              this.Hasil[0].status = true;
              console.log(this.Hasil[0].status);
            }
            console.log(this.widthProgres);
            event.preventDefault();
          },
        },
      });
    </script>
  </body>
</html>
