body {
  font-family: "Poppins", sans-serif;
  // background: #F0F0F0;
  background: white;
}

.btn-penggugat {
  background: #075858;
  box-shadow: 0px 1px 6px #219897;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 200;
  padding: 4px 26px;
  margin-top: 10px;
}
.btn-terdakwa {
  background: #f19901;
  box-shadow: 0px 1px 6px #f19901;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 200;
  padding: 4px 26px;
  margin-top: 10px;
}
.m-r-4 {
  margin-right: 40px;
  @include media-breakpoint-up(md) {
    margin-right: 40px;
  }
}
.btn-next {
  background: #31ab00;
  color: #ffffff !important;
  &:hover {
    color: #b8b7b7;
    background: #226309;
  }
}
.icon-next {
  width: 80px;
}
.progress-bar {
  // background: linear-gradient(135deg, #fff720 0%, #3cd500 100%);
  // background: linear-gradient(135deg, #fff720 0%, #3cd500 77.09%);
  background: linear-gradient(135deg, #e9e003 0%, #3cd500 77.09%);
  // background: linear-gradient(135deg, #70f570 0%, #49c628 100%);
}
a {
  &.btn-diskusi {
    color: #075858;
    font-size: 16px;
  }
}
