.item-service{
    a{
        text-decoration: none;
        .card-service{
            background: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            padding: 20px 30px;
            margin-right: 16px;
            
            @include media-breakpoint-down(lg) { 
                padding: 6px 10px;
                margin-right: 10px;
             }
           
            .icon-item{
                width: 38px;
                height: 38px;
            }
            h6{
                &:hover{
                    color: #F19901 ;
                }
                font-size: 20px;
                color: #075858;
                margin-top: 6px;
                font-weight: bold;
                @include media-breakpoint-down(lg) { 
                    font-size: 14px;
                    margin-top: 10px;
                 }
            }
        }
    }
}