nav{
    // background: transparent;
    background-color: rgb(255, 255, 255) !important;
    .brand-logo{
        height: 40px;
    }
    .nav-item {
        .nav-link {
            color: #F19901;
            margin-left: 20px;
          }
        }
      
}